<!--PROFILE PAGE-->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4 center">
    <img src= "http://www.redvisitor.com/Media/images/Face%20Sculpture-15729cc7-c27f-4268-b5a7-5f40f5640477-0-655x436.jpg">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>

    <!--<%= link_to "add new project", new_project_path %>-->
   


  </aside>
  <div class="span8 center">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>

  