<!--PROFILE PAGE-->

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4 center">
    <img src="http://purethinking.typepad.com/.a/6a00e54ee2334e8834013485dfaefd970c-400wi">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>

    <!--<%= link_to "add new project", new_project_path %>-->
   


  </aside>
  <div class="span8 center">
    <% if @user.projects.any? %>
      <h3>Projects (<%= @user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>

  