<!-- MY PROJECTS PAGE-->

<div class="span8 center">
 <img src= "http://www.businessblogshub.com/wp-content/uploads/2010/12/building_online_community.jpg" width="480" height="320">


<h1>work on your projects</h1>
<% if signed_in? %>
 <div class="span6 offset3 center">
 	<% @current_user.projects.each do |project| %>
 		<br>
 		<h3><%= link_to project.title, project %><br> 
 		<%= project.location %> <br>
 		<%= link_to "edit", edit_project_path(project) %> <b>/</b>
 		<%= link_to "remove", project, method: :delete, data: { confirm: "are you sure?" } %></h3>
 		
 	<% end %>
 </div>

 <% else %>
 	<h3> <%= link_to "sign in", signin_path %> or <%= link_to "sign up", signup_path %> to work on your projects! </h3>
 <% end %>
 
</div>




<!--<%= link_to "create a new project", new_project_path %>-->
