<!-- MY PROJECTS PAGE-->

<div class="span8 center">
 <img src= "http://www.businessblogshub.com/wp-content/uploads/2010/12/building_online_community.jpg" width="480" height="320">
<h1>work on your projects</h1>
 <div class="span6 offset3 center">
 	<% @current_user.projects.each do |project| %>
 		<br><br>
 		<%= link_to project.title, project %><br> 
 		<%= project.location %> <br>
 		<%= link_to "edit", edit_project_path(project) %>
 		<%= link_to "remove", project, method: :delete, data: { confirm: "are you sure?" } %>
 		<br><br>
 	<% end %>
 </div>
</div>



<!--<table center>
	<thead>
		<tr>
			<th> Project Title </th>
			<th>    </th>
			<th> Project Location </th>
			<th>     </th>
			<th> More Actions </th>
			<th>     </th>
		</tr>
	</thead>
	<tbody>
		<% @current_user.projects.each do |project| %>
			<tr>
				<td><%= project.title %></td>
				<th>    </th>
				<td><%= project.location %></td>
				<td><%= link_to "show", project %></td>
    			<td><%= link_to "edit", edit_project_path(project) %></td>
    			<td><%= link_to "remove", project, method: :delete, data: { confirm: "are you sure?" } %></td>
			<tr>
		<% end %>
	</tbody>
</table>

 
</div>-->


<!--

<div class="span8 center">

    <% if current_user.projects.any? %>
      <h3>Projects (<%= current_user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>

-->


<!--<%= link_to "create a new project", new_project_path %>-->
