#This view displays all the projects found in the database

<!--
<h1>List of Projects</h1>
<table>
	<thead>
		<tr>
			<th> Project Title </th>
			<th> Project Location </th>
			<th> Description </th>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= project.title %></td>td>
				<td><%= project.location %></td>td>
				<td><%= link_to "Show", project %></td>
    			<td><%= link_to "Edit", edit_project_path(project) %></td>
    			<td><%= link_to "Remove", project, method: :delete, data: { confirm: "Are you sure?" } %></td>
			<tr>
		<% end %>
	</tbody>
</table>
-->
<div class="span8 center">
    <% if current_user.projects.any? %>
      <h3>Projects (<%= current_user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>
</div>
<!--
<%= link_to "Add New Project", new_project_path %>
-->