<div class="span8">
<h1>Project Information</h1>
	<p>
	  Title: 
	  <%= @project.title %>
	</p>
 
 	<p>
 		Location: 
  		<%= @project.location %>
	</p>

	<p>
  		Description: 
  		<%= @project.description %>
	</p>

	<p>
  		Created By:
   		<%=@current_user.name %>
 	</p>

 	<p>
    	Created: 
    	<%= time_ago_in_words(@project.created_at) %> ago!
    </p>

</div>