<!-- INDIVIDUAL PROJECT PAGE-->

<div class="span8 center">
<img src=
"http://trc.rmc.org/sites/default/files/rmchealth/library/images/blogs/tools.png" width="480" height="277">
<h1><%= @project.title %> in <%= @project.location %></h1>
 <!--<h2> by <%=@project.user_id %> </h2>-->
  <i><%= @project.description %></i><br><br>

    <!--created: <%= time_ago_in_words(@project.created_at) %> ago!-->


    <h2> work on this project </h2>





</div>