<% provide(:title, 'Home') %>
<div class="center">
 <img src="http://www.clker.com/cliparts/D/g/o/A/G/X/black-and-white-globe-md.png">	

  <h1 style= "text-align: center, font-family:Helvetica"> takeback </h1>

  	<!--Turn these into links to their pages-->
  	<h3 style= "text-align:center"> ...<%= link_to "create", create_path %> a new project </h3>
  	<h3 style= "text-align:center"> ...<%= link_to "work", work_path %> on a project </h3>
  	<h3 style= "text-align:center"> ...<%= link_to "search", '#' %> for a project </h3>

  	<br><br>
  <!--<%= link_to "sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <br><br>
  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>-->
</div>


